.anime{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1em;
}
table.perm{
  border-collapse: collapse;
}
table.perm tr{
  border: solid black 1px;
}
table.perm td{
  min-width: 2em;
}
