body{
  margin: 0;
}
em{
  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
}
.slide-container{
  display: grid;
  grid-template-columns: 2em auto 4em;
  grid-gap: 1em;
  font-size: 200%;
  height: 100vh
}
.unfold{
  place-self: center;
  background-color: transparent;
  border: none;
}
.navigation{
  position: absolute;
  background-color: floralwhite;
  font-size: 150%;
  height: 100vh;
  display: grid;
  grid-template-columns: auto 4em;
}
.content{
  place-self: center;
  list-style: none;
}
.content li{
  margin: 1em;
}
.fold{
  place-self: center;
  background-color: transparent;
  border: none;
}
.fold svg{
  stroke: black;
  fill: none;
  stroke-width: 4px;
}
.fold svg:hover{
  stroke: blue;
  cursor: pointer;
}
.control{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.control button{
  margin: 2em 0;
}
.slide-container button{
  background-color: transparent;
  border: none;
}
.slide-container svg{
  stroke: black;
  fill: none;
  stroke-width: 4px;
}
.slide-container svg:hover{
  stroke: blue;
  cursor: pointer;
}
.slide{
  margin-top: 2em;
  display: grid;
  grid-template-rows: 2em auto;
  aspect-ratio: 21/9;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: solid black 1px;
}
.body{
  justify-self: center;
}
.lottery{
  display: flex;
  flex-direction: column;
  width: 3em;
  position: fixed;
  right: 0.5em;
  bottom: 1em;
}
.lottery span{
  text-align: justify;
  text-align-last: justify;
}
.lottery button{
  font-size: 100%;
  background-color: deepskyblue;
  border-radius: 0.5em;
}
.lottery button:hover{
  cursor: pointer;
}
.code{
  font-family: KaTeX_Typewriter,monospace;
  border: solid black 1px;
}
.indent-1{
  margin-left: 2em;
}
.indent-2{
  margin-left: 4em;
}
.indent-3{
  margin-left: 6em;
}
table{
  border-collapse: collapse;
}
.full-witdh{
  width: 100%;
}
