body{
  margin: 0;
}
.slide-container{
  display: grid;
  grid-template-columns: 2em auto 4em;
  grid-gap: 1em;
  font-size: 200%;
  height: 100vh
}
.unfold{
  place-self: center;
  background-color: transparent;
  border: none;
}

.control{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.control button{
  margin: 2em 0;
}
.slide-container button{
  background-color: transparent;
  border: none;
}
.slide-container svg{
  stroke: black;
  fill: none;
  stroke-width: 4px;
}
.slide-container svg:hover{
  stroke: blue;
  cursor: pointer;
}
.slide{
  margin-top: 2em;
  display: grid;
  grid-template-rows: 2em auto;
  aspect-ratio: 16/9;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid black 1px;
}
.body{
  justify-self: center;
}
nav.navigation{
  position: absolute;
  height: 100vh;
  background-color: floralwhite;
  display: grid;
  grid-template-columns: auto 4em;
}
.navigation button{
  background-color: transparent;
  border: none;
}
ul.content{
  place-self: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.content li{
  margin: 1em;
  font-size: 150%;
  font-family: sans-serif;
}
button.fold{
  place-self: center;
}
.lottery{
  position: absolute;
  bottom: 4em;
}
.lottery button{

}
.code{
  font-family: monospace;
}
em{
  font-family: sans-serif;
  font-weight: bold;
}
